{% load static compress i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans 'Stonks' %}</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/r-2.2.2/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/rinja.css' %}"/>
</head>
<body>
<header>
    <div class="navbar shadow-sm">
        <div class="container-fluid d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>{% trans 'Stonks' %}</strong>
            </a>
        </div>
    </div>
</header>
<main role="main">
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</main>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-html5-1.5.6/r-2.2.2/datatables.min.js"></script>
<script type="text/javascript">
    const myTable = $('#rinja-all-stocks-table').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5', 'excelHtml5', 'pdfHtml5', 'csvHtml5', 'colvis'
        ],
        order: [[3, 'desc']],
        ajax: {url: '/api/v1/stocks/', dataSrc: ''},
        render: function (data, type, row, meta) {
            if (data >= 0) {
                return '<p class="positive">' + data + '</p>';
            } else {
                return '<p class="negative">' + data + '</p>';
            }
        },
        columns: [
            {data: 'ticker'},
            {data: 'name'},
            {data: 'last_price'},
            {data: 'change_percentage'},
            {data: 'volume_eur'},
            {data: 'bid'},
            {data: 'ask'},
            {data: 'open_price'},
            {data: 'last_close_price'},
            {data: 'high_price'},
            {data: 'low_price'},
            {data: 'average_price'},
            {data: 'trades'},
            {data: 'volume_self'},
            {data: 'isin'},
            {data: 'market'},
            {data: 'segment'},
            {data: 'currency'},
        ],
        paging: false,
        responsive: true,

    });
    setInterval(function () {
        myTable.ajax.reload();
    }, 30000);
</script>
</body>
</html>
