{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <table class="table table-striped" id="rinja-all-stocks-table">
        <thead>
        <tr>{% trans 'Refreshes every 30 seconds, results are cached for 5 minutes' %}</tr>
        <tr>
            <th>Ticker</th>
            <th>Name</th>
            <th>Last</th>
            <th>Change %</th>
            <th>EUR Volume</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>Open</th>
            <th>Last Close</th>
            <th>High</th>
            <th>Low</th>
            <th>Avg.</th>
            <th>Trades</th>
            <th>Volume</th>
            <th>ISIN</th>
            <th>Market</th>
            <th>Segment</th>
            <th>Currency</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Ticker</th>
            <th>Name</th>
            <th>Last</th>
            <th>Change %</th>
            <th>EUR Volume</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>Open</th>
            <th>Last Close</th>
            <th>High</th>
            <th>Low</th>
            <th>Avg.</th>
            <th>Trades</th>
            <th>Volume</th>
            <th>ISIN</th>
            <th>Market</th>
            <th>Segment</th>
            <th>Currency</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
